<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6cb739df-e84f-4617-9dbf-1cbecadaf645/resourcegroups/reparations/providers/Microsoft.Web/sites/Reparations</ResourceId>
    <ResourceGroup>reparations</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://reparations.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>reparations.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Reparations</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Reparations</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Reparation.DAL.OurDbContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:reparationsdbserver2019.database.windows.net,1433;Initial Catalog=Reparations_db;User ID=admin_2019@reparationsdbserver2019;Password=Aapp@123" Name="Data Source=tcp:reparationsdbserver2019.database.windows.net,1433;Initial Catalog=Reparations_db;User Id=admin_2019@reparationsdbserver2019;Password=Aapp@123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Reparation.DAL.OurDbContext, Reparation" MigrationConfiguration="Reparation.Migrations.Configuration, Reparation" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Reparation.DAL.OurDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:reparationsdbserver2019.database.windows.net,1433;Initial Catalog=Reparations_db;User Id=admin_2019@reparationsdbserver2019;Password=Aapp@123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Reparation.DAL.OurDbContext" />
  </ItemGroup>
</Project>